* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* To avoid changing stretching the design on wide screens  */
body {
  max-width: 1440px;
  margin: 0 auto;
}


h2 {
  font-family: "Courgette", cursive;
}
